/* ==========================================================================
   DEFAULT THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : #9ba1a6;
$lighter-gray               : mix(#fff, $gray, 90%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
  --global-base-color                 : #8e8571;
  --global-bg-color                   : #faf9f5;
  --global-footer-bg-color            : #f3f0eb;
  --global-border-color               : #f5f0e6;
  --global-dark-border-color          : #d8d1bc;
  --global-code-background-color      : #f7f6f0;
  --global-code-text-color            : #4f4638;
  --global-fig-caption-color          : #b9b097;
  --global-link-color                 : #b37f58;
  --global-link-color-hover           : #8c5d3c;
  --global-link-color-visited         : #ab8361;
  --global-masthead-link-color        : #6c5d46;
  --global-masthead-link-color-hover  : #4f4436;
  --global-text-color                 : #4f4638;
  --global-text-color-light           : #bab19b;
  --global-thead-color                : #e1d5b9;
}
